/* Exemplo simples de CSS Modules */
.form {
  margin: 10px 0;
}

.taskItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.completed {
  text-decoration: line-through;
}
